
    <form action="{{ path('InnovGroup_vouloirRejoindreGroupe', {'id': groupe.id}) }}" method="POST">
        {{ form_widget(formVouloirRejoindre) }}
            <button type="submit">Ok </button>
    </form>
   
